# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Large datasets / raw data
videos/
frames/
public_rps/

# Training/output files
runs/
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db